/* -------------------------------------------- *\
 * js/components/user-list/index.css            *
\* -------------------------------------------- */

.user_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
}

.user_list__user_info {
  flex-basis: calc(100% - 1rem);
  flex-shrink: 0;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 48em) {
  .user_list__user_info {
    flex-basis: calc(50% - 1rem);
  }
}

@media (min-width: 80em) {
  .user_list__user_info {
    flex-basis: calc(33.33% - 1rem);
  }
}