.header {
  background: #33f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2%;
}

  .header__title {
    display: inline-block;
    margin: 0;
  }

  .header__link {
    background-image: url(../img/github-logo.png);
    display: inline-block;
    height: 32px;
    flex: 0 0 32px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 32px;
  }