/* -------------------------------------------- *\
 * js/components/user-avatar/index.css          *
\* -------------------------------------------- */

.user__avatar img {
  border-radius: 100%;
  box-shadow: 0 0 2px 1px black;
  height: 64px;
  width: 64px;
}