/* -------------------------------------------- *\
 * js/components/user-info/index.css            *
\* -------------------------------------------- */

.user_info {
  display: flex;
  background: #ddd;
  padding: 1rem;
}

  .user_info>header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
  }

  .user_info__fullname {
    font-size: 1.3em;
  }

  .user_info__fullname,
  .user_info__location {
    margin: 0;
  }

  .user_info__avatar {
    margin: 0 1rem 0 0;
  }